services:
   frontend:
      build: ../rsac_dashboard/
      container_name: frontend
      ports:
        - "3000:3000"
      depends_on:
        - backend

   backend:
       build: ./
       env_file:
        - ./.env
       container_name: backend
       ports:
        - "5000:5000"
       
       
       depends_on:
        - db

   db:
     image: postgis/postgis:latest
     environment:
       - POSTGRES_DB=layers
       - POSTGRES_USER=postgres
       - POSTGRES_PASSWORD=1234
     volumes:
      - postgis_data:/var/lib/postgresql/data
     ports:
      - "5432:5432"


volumes:
   postgis_data:
