name: My project
on:
    push:
        branches: [master]

jobs:
  build:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Install dependencies
          uses: actions/setup-node@v4
          with:
            node-version: '18'

        - name: Install npm packages
          run: npm install

        - name: Setup docker buildx
          uses: docker/setup-buildx-action@v3

        - name: Create docker image
          uses: docker/build-push-action@v3
          with:
            context: .
            tags: express-img:latest

        - name: Push to docker hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
          



        
